{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <label for="time_in">Укажите предпочтительную дату события:</label>
       <input type="date" id="time_in" name="time_in" min="2022-09-01" max="2022-12-30">
       <input type="submit" value="Найти" />
   </form>
   <hr>
      <table>
         {% for new in news %}
          <tr>
          <td>{{ new.title }}</td>
          <td>{{ new.preview|truncatechars:20 }}</td>
          <td>{{ new.time_in }}</td>
          </tr>
          {% endfor %}
      </table>
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}